.brand p {
  font-family: "roboto";
  text-transform: capitalize;
}
.price span {
  font-family: "hanuman";
}
.item-content h3 {
  font-family: "roboto";
}
.item-content h5 {
  font-family: "hanuman";
}
