// color variables

$black: #000;
$lightdark: #1d1e1f;
$white: #fff;
$transparent: transparent;
$primary: #ff1c8d;
$secondary: #e4d86a;
// letter spacing variables

$mainSpace: 0.3567rem;
$secondarySpace: 0.3rem;

// lineheight variables

$lineHeight: 4.456rem;
// transition variables

$maintransition: all 0.5s linear;
$sectransition: all 0.4s ease;
